{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ company.name }} - Update Prices</h1>

    {% if app.request.query.get('updated') %}
        <div class="alert alert-success">
            Prices updated successfully
        </div>
    {% endif %}

    <form method="POST" href="{{ url('company_update_prices', {companyId: company.id, stockType: stockType}) }}">
        {% for stock in stocks %}
            <div class="form-group">
                <label>{{ stock.market.name }} - {{ constant('App\\Entity\\Stock::TYPES')[stock.type] }}
                <input type="number" step="0.01"
                       class="form-control"
                       name="prices[{{ stock.id }}]" value="{{ stock.price }}">
                </label>
            </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
{% endblock %}
